<div>
    <div class="create-post">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>
                    <h5 style="font-size: 25px">
                        @{{user.username}}
                    </h5>   
                </mat-card-title>
                <mat-card-subtitle>
                    <p></p>
                </mat-card-subtitle>
            <div mat-card-avatar style="background-image: url('{{user.userPicture}}');background-size: cover;"></div>
            </mat-card-header>
            <mat-card-content>
                <input class="form-control input-lg" type="text" [(ngModel)]="newPost" placeholder="What's on your mind?">
            </mat-card-content>
            <mat-card-actions>
                <button type="submit" class="btn btn-dark" (click)="post()">Post</button>
                </mat-card-actions>
        </mat-card>
    </div>
    <div class="timeline">
        <ul style="padding: 0">
            <li *ngFor="let post of posts">
                <div class="post">
                    <mat-card class="card">
                        <mat-card-header>
                            <div mat-card-avatar style="background-image: url('{{user.userPicture}}');background-size: cover;"></div>
                            <div style="width: 100%;">
                                <mat-card-title>
                                    <h5 style="font-size: 25px">
                                        @{{user.username}}
                                    </h5>                                
                                </mat-card-title>                            
                                <mat-card-subtitle>
                                    <p style="font-size: 12px; color: grey">
                                        {{post.postDate | date:'medium'}}
                                    </p>
                                </mat-card-subtitle>
                            </div>
                            <div style="width: 100%;">
                                <button type="button" class="btn btn-dark" (click)="delete(post.postId)" style="float: right;">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <button type="button" class="btn btn-dark" (click)="delete(post.postId)" style="float: right;">
                                    <mat-icon>edit</mat-icon>
                                </button>                                
                            </div>
                        </mat-card-header>
                        <mat-card-content style="margin-bottom: 0px; margin-top: 10px">
                            <div style="padding: 10px">
                                <p>{{post.postText}}</p>
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <button type="button" class="btn btn-dark" (click)="like(post.postId)">
                                <div class="row">
                                    <div class=col style="padding-right: 5px">
                                        {{post.postVotes}}
                                    </div>
                                    <div class=col style="padding-left: 0px">
                                        <mat-icon aria-hidden="false" aria-label="like icon">thumb_up_alt</mat-icon>
                                    </div>
                                </div>        
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </li>
        </ul>
    </div>
</div>
