/* Sidebar links */
.vertical-nav a, .logout {
    display: block;
    color: grey;
    padding: 16px;
    text-decoration: none;
}

/* Active/current link */
.vertical-nav a.active {
    background-color: grey;
    color: white;
}

/* Links on mouse-over */
.vertical-nav a:hover:not(.active), .logout:hover:not(.active) {
    background-color: #555;
    color: white;
    cursor: pointer;
}

.logo {
    padding-bottom: 20px;
}