<mat-card class="post-card">
    <mat-card-header>
        <mat-card-title>
            <h5>Doge</h5>
        </mat-card-title>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-subtitle>
            <p>@thegoodestboy</p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            This is the post text! Helo world, I'm dog, bark bark bark bark bark bark bark bark bark bark bark bark bark bark bark bark bark bark bark bark bark bark bark bark bark bark bark bark bark bark bark bark.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button type="button" class="btn btn-dark">
            <mat-icon aria-hidden="false" aria-label="like icon">thumb_up_alt</mat-icon>
        </button>
      </mat-card-actions>
</mat-card>