.post-card {
    max-width: 400px;
    border: 1px solid grey;
    margin: 20px;
}

.btn {
    padding-bottom: 0.5px;
}

.mat-card-avatar {
    height: 50px;
    width: 50px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}