<div class="container-fluid">
    <div class="col-4 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Sign up</h5>
                <form class="form-signin" #f="ngForm" (ngSubmit)="register()" novalidate>
                    <div class="form-label-group">
                        <label for="inputUsername">Username</label>
                        <input type="email" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" class="form-control" required autofocus>
                    </div>

                    <div class="form-label-group">
                        <label for="inputUsername">Email</label>
                        <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" required autofocus>
                    </div>

                    <div class="form-label-group">
                        <label for="inputPassword">Description</label>
                        <input type="text" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" class="form-control" required>
                    </div>

                    <div class="form-label-group">
                        <label for="inputPassword">Profile picture</label>
                        <input type="text" [(ngModel)]="picture" [ngModelOptions]="{standalone: true}" class="form-control" required>
                    </div>
    
                    <div class="form-label-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" required>
                    </div>

                    <button class="btn btn-lg btn-dark btn-block" type="submit">
                        <div>Register</div>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
