<body>
    <div class="container-fluid">
        <div class="col-4 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form class="form-signin" #f="ngForm" (ngSubmit)="login()" novalidate>
                        <div class="form-label-group">
                            <label for="inputUsername">Username</label>
                            <input type="email" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" class="form-control" required autofocus>
                        </div>
        
                        <div class="form-label-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" required>
                        </div>

                        <button class="btn btn-lg btn-dark btn-block" type="submit">
                            <div>Sign in</div>
                        </button>
                        <hr class="my-4">
                        <div class="form-label-group text-center" style="color: #495057">
                            Don't have an account?
                        </div>
                        <button class="btn btn-lg btn-dark btn-block" (click)="router.navigate(['/sign-up']);">
                            <div>Sign up</div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>