<nav class="navbar navbar-expand-md  fixed-top">
    <ul class="nav navbar-nav search-box mx-auto">
        <li class="nav-item">
            <form class="form-inline my-0 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-light my-0 my-sm-0" type="submit">
                    <mat-icon aria-hidden="false" aria-label="search icon">search</mat-icon>
                </button>
            </form>
        </li>
    </ul>
</nav>