.login-form {
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    background-color: #151515;
    padding: 10px;
}

.side-nav {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #151515;
    height: 100vh;
    position: fixed;
    top: 60.5px;
	left: 0;
}

.page {
    margin-left: 200px;
    margin-top: 60.5px;
    padding: 1px 16px;
    height: 1000px;
}