<div *ngIf="this.router.url==='/login' || this.router.url==='/sign-up'; else logged">
    <router-outlet></router-outlet>
</div>
<ng-template #logged>
    <div class="container-fluid">        
        <div class="row top-nav">
            <navbar></navbar>
        </div>
        <div class="row full-row">
            <div class="col-2" style="padding: 0">
                <div class="position-fixed side-nav">
                    <sidebar></sidebar>
                </div>
            </div>
            <div class="col-8">
                <div class="page">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div class="col-2" style="padding: 0">
                <div class="position-fixed left-bar">

                </div>                
            </div>
        </div>
    </div>   
</ng-template>
